/vendor/
/node_modules/
.phpunit.result.cache
.php-cs-fixer.cache
.DS_Store
.idea/
.vscode/
coverage/
composer.lock
.junie
.gemini
.opencode
.claude
.ai
.cursor
.mcp.json
boost.json
.cursorrules
opencode.json
CLAUDE.md
AGENTS.md
GEMINI.md
